*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    /* background-color: aquamarine; */

    background: linear-gradient(to right, #00d45f, #00aaff);;
    color: #fff;
    padding-top: 4%;
    padding-left: 10%;
}

.home-link {
    position: absolute;
    left: 10px; /* Adjust as needed */
    top: 10px; /* Adjust as needed */
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #3498db;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.home-link:hover {
    background-color: #2980b9;
}


.container h2{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    color: #571094;
}

.container h2 img{
    width: 60px;
}

.container button img{
    width:  25px;
    margin-right: 8px;
}

.container button{
    height: 60px;
    display: flex;
    align-items: center;
    background:linear-gradient(#9418fd,#571094);
    color: #fff;
    font-size: 16px;
    outline: 0;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
}

.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background-color: white;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
}


.input-box img{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}